:root{
  font-family: 'Inter', sans-serif;
                                                
}

.text1{
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
}

.text2{
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
Font-style: Medium;
Vertical-align: Center;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.text3{
font-size: 12px;
font-weight: 200;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
Vertical-align: Center;
}

.text4{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
